<!doctype html>
<html>
	<head>
		<title>SURFACE MAGAZINE</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.js"></script>
	</head>
	<body>
