body {
  font-family: 'Avenir Next';
  width: 90%;
  margin: 25px auto;
  line-height: 1.2em;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

.datum {
  font-family: 'Avenir Next'
}

section {
  margin: 25px 0;
}

img {
  max-width: 100%;
}

.logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.titel, .titel a{
  font-family: 'Avenir Next';
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.titel a:hover, .online a:hover {
  border-bottom: 2px solid black;
}

p {
  margin: 5px 0;
  font-family: "Times New Roman";
  font-size: 12px;
}

h2 {
  margin: 25px 0;
}

h3 {
  display: inline;
  font-weight: bold;
  font-size: 20px;
}

.categories, .categorie, .news {
  font-size: 12px;
  font-family: "Times New Roman";
  text-decoration: none;
  color: black;
}

.categories:hover {
  border-bottom: 1px solid black;
}

.mentioned {
  font-family: 'Avenir Next';
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.mentioned:hover {
  border-bottom: 2px solid black;
}

nav {
  margin: 25px 0;
}

nav a {
  display: inline-block;
  margin-right: 5px;
}

.copyright {
  font-family: 'Avenir Next';
  font-size: 12px;
  font-weight: bold;
}

.online {
  font-family: 'Avenir Next';
}
